<p>Hey {{ requestee }},</p>
<p>{{ requester }} wants to subscribe to your calendar</p>
<p>Please click below to accept the request</p>
<p>
    <a href="{{ url }}">Confirm</a>
</p>

<p>If you wish to deny the request, you can safely ignore it.</p>
